@model MedicalCard.Models.Client

<form name="clientForm">
    @Html.AntiForgeryToken()
    <div class="modal-header">
        <h4 class="modal-title">
            <!--<button class="close" type="button" data-dismiss="modal" aria-label="close">
                <span aria-hidden="true">
                    &times;
                </span>
            </button>-->
            <span>
                @(Model.Id>0?"Редактировать":"Добавить")
            </span>
            <!--<span>
                Добавить пациента
            </span>-->
        </h4>
    </div>
    <div class="modal-body">
        @Html.HiddenFor(aa => aa.Id)
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    @*Html.LabelFor(xx => xx.IIN, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <p class="control-label col-md-2">ИИН</p>
                    <div class="col-md-10">
                        @Html.EditorFor(xx => xx.IIN, new { htmlAttributes = new { @class = "form-control", required = true } })
                        @Html.ValidationMessageFor(xx => xx.IIN, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*Html.LabelFor(xx => xx.FirstName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <p class="control-label col-md-2">Имя</p>
                    <div class="col-md-10">
                        @Html.EditorFor(xx => xx.FirstName, new { htmlAttributes = new { @class = "form-control", required = true } })
                        @Html.ValidationMessageFor(xx => xx.FirstName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*Html.LabelFor(xx => xx.LastName, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <p class="control-label col-md-2">Фамилия</p>
                    <div class="col-md-10">
                        @Html.EditorFor(xx => xx.LastName, new { htmlAttributes = new { @class = "form-control", required = true } })
                        @Html.ValidationMessageFor(xx => xx.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*Html.LabelFor(xx => xx.Address, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <p class="control-label col-md-2">Адрес</p>
                    <div class="col-md-10">
                        @Html.EditorFor(xx => xx.Address, new { htmlAttributes = new { @class = "form-control", required = true } })
                        @Html.ValidationMessageFor(xx => xx.Address, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @*Html.LabelFor(xx => xx.Phone, htmlAttributes: new { @class = "control-label col-md-2" })*@
                    <p class="control-label col-md-2">Телефон</p>
                    <div class="col-md-10">
                        @Html.EditorFor(xx => xx.Phone, new { htmlAttributes = new { @class = "form-control", required = true } })
                        @Html.ValidationMessageFor(xx => xx.Phone, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-sm pull-left">
            Отмена
        </button>
        <button type="button" class="btn btn-sm pull-left" onclick="createoredit()">
            Сохранить
        </button>
    </div>
</form>
